<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">What's Cooking?</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {{#if ingredients_page}}active{{/if}}"
            {{#if ingredients_page}} aria-current="page" {{/if}} 
            href="ingredients"
          >Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if recipes_page}}active{{/if}}" {{#if recipes_page}} aria-current="page" {{/if}} href="/recipes">Recipes</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Recipes"
          aria-label="Search Recipes"
        />
        <button
          class="btn btn-outline-success me-3"
          type="submit"
        >Search</button>
        {{!-- <button class="btn btn-primary">Login</button> --}}
        <a href="/users/login" class="btn btn-primary" role="button">Login</a>

      </form>
    </div>
  </div>
</nav>