<div class="container div404">
  <img src="/public/images/404.png" alt="Page not found" />
  <div>
    <p class="fs-1 text-danger fw-bold">404</p>
    <p class="fs-2 fw-bold">Ooops! You weren't supposed to see this.</p>
    <p class="fs-6 text-secondary fw-normal">The page you're looking for does
      not exist.</p>
    <p class="fs-6 text-secondary fw-normal">Return to
      <a href="/">home page</a>
      and remeber: you haven't seen anything</p>
  </div>
</div>