
{{#if recipeList.length}}
    <div>
      <div class="mt-4">
        <h3>120 Recipes found for the ingredients you selected</h3>
      </div>      
      <div class="row row-cols-1 row-cols-md-3 g-4 g-md-3 g-lg-3 mt-3">
        <div class="col">
          <div class="card">
            <img src="public/img/product/product-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#" target="_blank">Recipe title</a> <small class="text-muted"><i class="bi bi-box-arrow-up-right"></i></small></h5>
              <p class="card-text">Rating: <span class="stars">4.8</span></p>
              <p class="card-text">This is a sample recipe content. We can use excerpt for this text or some initial text from recipe.</p>
              <p class="card-text"><small class="text-muted">Last updated on 12/05/2021</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/product/product-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#" target="_blank">Recipe title</a> <small class="text-muted"><i class="bi bi-box-arrow-up-right"></i></small></h5>
              <p class="card-text">Rating: <span class="stars">4.3</span></p>
              <p class="card-text">This is a sample recipe content. We can use excerpt for this text or some initial text from recipe.</p>
              <p class="card-text"><small class="text-muted">Last updated on 12/05/2021</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/product/product-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#" target="_blank">Recipe title</a> <small class="text-muted"><i class="bi bi-box-arrow-up-right"></i></small></h5>
              <p class="card-text">Rating: <span class="stars">3.5</span></p>
              <p class="card-text">This is a sample recipe content. We can use excerpt for this text or some initial text from recipe.</p>
              <p class="card-text"><small class="text-muted">Last updated on 12/05/2021</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="public/img/product/product-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#" target="_blank">Recipe title</a> <small class="text-muted"><i class="bi bi-box-arrow-up-right"></i></small></h5>
              <p class="card-text">Rating: <span class="stars">4.0</span></p>
              <p class="card-text">This is a sample recipe content. We can use excerpt for this text or some initial text from recipe.</p>
              <p class="card-text"><small class="text-muted">Last updated on 12/05/2021</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{{else}}
  <div>
    Select Ingredients to get recipes{{test}} 
  </div>
{{/if}}
  </div>