{{!-- 


<head>
    <meta charset="utf-8">
    <title>User Profile:</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head> --}}
<main>
    {{>usersidebar}}

    <div class="text-center p-2">
        <h2>Favorited Recipes:</h2>
        <div class="container">
            {{#if hasFRecipe}}
            <ul class="list-group list-group-flush">
                {{#each myFavRecipe}}
                <li class="list-group-item">
                    <a href="/recipes/{{this.id}}"><span class="mr-2">&starf;</span>{{this.name}}</a>
                </li>
                {{/each}}
            </ul>

            {{else}}
            <p class="font-italic">No favorite recipes.</p>
            {{/if}}
        </div>
    </div>
</main>