<div class="container div404">
  <img src="/public/images/logout.png" alt="Logout" />
  <div>
    <p class="fs-1 text-primary fw-bold">Goodbye!</p>
    <p class="fs-6 text-secondary fw-normal">Return to
      <a href="/">home page</a>
      or
      <a href="/users/login">Sign In</a></p>
  </div>
</div>