<head>
    <meta charset="utf-8">
    <title>logout</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <h1>logout</h1>
    <p>logged out successfully</p>
    <a href="/">Go back to home page</a>
</body>